$yellow: #fbe850;
$dark-black: #0a0a0b;
$dark-blue: #2e3038;
$white: #fffffff0;
$grey: #ffffffb2;

$ff-prata: "Prata", serif;
$ff-inter: "Inter", sans-serif;

$fs-head: 3.5rem;
$fs-head-secondary: $fs-head * 0.6;
$fs-body: 1.175rem;
